.campoDeNumeros {
    -fx-font-family: "Gadugi";
    -fx-font-size: 20px;
    -fx-text-fill: #3c4641;
}

.linkMenuLateral {
    -fx-text-fill: #3c4641;
}

.linkMenuLateral:hover {
    -fx-border-color: transparent;
    -fx-underline: true;
    -fx-text-fill: #3c4641;
}

.linkMenuLateral:focused {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.mostrador {
    -fx-color: #E6C673;
}

.table-view .column-header-background {
    -fx-background-color: #3c4641;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #55615b;     
    -fx-border-width: 0 1px 0 0;  
}

.table-view .column-header .label {
    -fx-alignment: CENTER;          
    -fx-text-fill: #ffffff;      
    -fx-font-family: "Gadugi";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-border-color: #e0e0e0;     
    -fx-border-width: 0 1px 1px 0; 
    -fx-alignment: CENTER;
}

.table-view .placeholder .label {
    -fx-text-fill: #3c4641;
    -fx-font-family: "Gadugi";
    -fx-font-size: 16px;
}

.botoes {
    -fx-background-radius: 6;
    -fx-background-color:  #4A7055;
    -fx-text-fill:  #FFFFFF;
}

.campoPreenchimento {
    -fx-background-radius: 6;
    -fx-background-color: white;
}

.textos {
    -fx-text-fill: #3c4641;
    -fx-font-family: "Gadugi";
    -fx-font-size: 16px;
}